body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(180, 180, 180);
}

.main-img {
    height: 35em;
    padding:2.5%;
}

.title {
    font-size: 1.7em;
    font-style: bold;
}

.title,
.off-screen-menu {
    color: white;
}

.gold-outline {
    text-shadow: 0.7px 0.7px 0 gold;
}

.gold-border {
    border: 1px gold solid;
}

nav {
    padding: 0.7em;
    display: flex;
    background-color: rgb(0, 0, 0);
    z-index: 3;
}


/* off-screen-menu- */
.off-screen-menu {
    background-color: rgb(0, 0, 0, 80%);
    height: 60vh;
    width: 80%;
    max-width: 450px;
    position: fixed;
    top: 11%;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    transition: .3s ease;
}

.off-screen-menu.active {
    right: 0;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: 6px;
    position: relative; /* so spans can be positioned absolutely */
}

.ham-menu span {
    height: 3px;
    width: 50px;
    background-color: gold;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -25%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, 25%) rotate(-45deg);
}

/* Sliding Div Thing */